@page
@model Activ.EQM.WebUI.Pages.processusModel

@{
    ViewData["Title"] = "Processus page";
}

@section scripts {
    <script type="text/javascript" src="~/js/Script.js"></script>
}

<!--<script>

    function modifier(id){
        sessionStorage.setItem("modif", id);
        location.replace('https://localhost:7135/editprocessus');
    }

    function detail(id) {
        sessionStorage.setItem("detail", id);
        location.replace('https://localhost:7135/detailprocessus');
    }

    function supprimer(_url,id){
        sessionStorage.setItem("supp", id);
        let choix = confirm("Voulez vous vraiment supprimer cet élement ?");

        console.log(_url,id);

        if (choix) {
            fetch(_url + "/" + id, {
                method: 'DELETE'
            });
            alert("Cet élément a été supprimé ");
            location.replace('https://localhost:7135/processus');
        }
        else {
            alert("la suppression a été annulée");
        }
    }
</script>-->

<div class="container-fluid py-4 text-center">
      <div class="row">
        <div class="col-12">
          <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n2 mx-0 z-index-1">
              <div class="ms-md-1 pe-md-1 d-flex align-items-left">

              </div>
              <div class="bg-gradient-primary shadow-primary border-radius-lg pt-2 pb-2">
                <table class="table align-items-center mb-0" cellspacing="15">
                    <tr>
                                
                          <td ><h6 class="text-white text-capitalize ps-3">Processus</h6> </td>
                          <td class="col-lg-2">
                         <a class="btn bg-gradient-primary mt-4 w-21" asp-area="" asp-page="/ajoutprocessus" type="button">Ajouter</a>
                        </td>
                        <!--<td class="col-lg-1">
                          <a class="btn bg-gradient-primary mt-4 w-21" asp-area="" asp-page="/processus" type="button">Modifier</a>
                         </td>
                         <td class="col-lg-2">
                          <a class="btn bg-gradient-primary mt-4 w-21" asp-area="" asp-page="/processus" type="button">Supprimer</a>
                         </td>-->
                    </tr>
                </table>
              </div>
            </div>

                <div class="card-body px-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-5">
                            <thead>
                                <tr>

                                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Titre</th>
                                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Description</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Participants</th>
                                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Manager</th>
                                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Date de creation</th>
                                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Actions</th>
                                      <!--<th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Reference</th>
                                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Date de debut  prevue</th>
                                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Date de fin  prevue</th>
                                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Processus</th>
                                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Rapport</th>
                                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Date de debut effective</th>
                                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Date de fin effective</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Creer par</th>-->

                                </tr>
                            </thead>
                            <tbody id="corps">
                                <script type="text/javascript">
                                    let infos = '';
                                    fetch('http://localhost:5000/Process')
                                        .then(res => res.json())
                                        .then(data => {
                                            console.log(data);
                                            for (let item of data) {
                                                infos += `<tr><td>${item.title}</td><td>${item.description}</td><td>${item.participants}</td><td>${item.manager}</td><td>${item.created}</td><td><button Onclick="detail(${item.processId},'detailprocessus')" class="btn btn-light">Détail</button>&nbsp;<button class="btn btn-warning" Onclick="modifier(${item.processId},'editprocessus')">Modifier</button>&nbsp;<button class="btn btn-danger" Onclick="supprimer('http://localhost:5000/Process',${item.processId},'processus')">Supprimer</button></td></tr>`;
                                            }
                                            document.getElementById('corps').innerHTML = infos;
                                            //place.innerHTML = infos;
                                        });
                                </script>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>